<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/error-style.css}">
</head>
<body>

  <div class="noise"></div>
  <div class="overlay"></div>
  <div class="terminal">
    <h1>Error <span class="errorcode">500</span></h1>
    <p class="output" th:text="${errorMessage}"></p>
    <p class="output">Please try to <a th:href="@{../}">go back</a> or <a th:href="@{/home}">return to the homepage</a>.</p>
    <p class="output">Good luck.</p>
  </div>

</body>
</html>