<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>

<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="images/logo.png" alt="">
        </div>

        <span class="logo_name">Task Management System</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a th:href="@{/home}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li>
                <a th:href="@{/tasks/user/view}">
                    <i class="uil uil-clipboard-notes"></i>
                    <span class="link-name">My Tasks</span>
                </a>
            </li>
            <li>
                <a th:if="${session.adminDTO != null}" th:href="@{/tasks/view}">
                    <i class="uil uil-clipboard"></i>
                    <span class="link-name">All Tasks</span>
                </a>
            </li>
            <li th:if="${session.adminDTO != null}">
                <a th:href="@{/tasks/add/view}">
                    <i class="uil uil-edit"></i>
                    <span class="link-name">Add Tasks</span>
                </a>
            </li>
            <li>
                <a th:href="@{/users/update/view(id=${session.currentUserDTO.user.id})}">
                    <i class="uil uil-user-circle"></i>
                    <span class="link-name">Profile</span>
                </a>
            </li>
        </ul>

        <ul class="logout-mode">
            <li>
                <a th:href="@{/logout}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a>
            </li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here...">
        </div>

    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Dashboard</span>
            </div>

            <div class="boxes">
                <div class="box box1">
                    <i class="uil uil-clipboard"></i>
                    <span class="text">Tasks</span>
                    <span class="number" th:text="${session.adminDTO != null ? session.adminDTO.tasks.size() : session.currentUserDTO.tasks.size()}">50,120</span>
                </div>
                <div class="box box2">
                    <i class="uil uil-comments"></i>
                    <span class="text">Pulses</span>
                    <span class="number" th:text="${session.adminDTO != null ? session.adminDTO.pulses.size() : session.currentUserDTO.pulses.size()}">20,120</span>
                </div>

                <div class="box box3" th:if="${session.adminDTO != null}">
                    <i class="uil uil-users-alt"></i>
                    <span class="text">Users</span>
                    <span class="number" th:text="${@userRoleService.getUserCount()}">10,120</span>
                </div>
            </div>
        </div>

        <div class="activity">
            <div class="title">
                <i class="uil uil-file-check-alt"></i>
                <span class="text">Tasks</span>
            </div>
            <div class="activity-data">
                <div class="data names">
                    <span class="data-list"><strong>Task ID</strong></span>
                </div>
                <div class="data names">
                    <span class="data-list"><strong>Task Name</strong></span>
                </div>
                <div class="data names">
                    <span class="data-list"><strong>User</strong></span>
                </div>
                <div class="data names">
                    <span class="data-list"><strong>Points</strong></span>
                </div>
                <div class="data names">
                    <span class="data-list"><strong>Status</strong></span>
                </div>
            </div>
            <div th:each="task : ${session.adminDTO != null ? session.adminDTO.tasks : session.currentUserDTO.tasks}">
                <div class="activity-data">
                        <div class="data type">
                            <span class="data-list" th:text="${task.id}"></span>
                        </div>
                        <div class="data names">
                            <span class="data-list" th:text="${task.name}"></span>
                        </div>
                        <div class="data owner">
                            <span class="data-list" th:text="${task.user.userName}"></span>
                        </div>
                        <div class="data joined">
                            <span class="data-list" th:text="${task.points}"></span>
                        </div>
                        <div class="data type">
                            <span class="data-list" th:text="${task.status}"></span>
                        </div>
                    </div>
                </div>
        </div>

        <div class="activity">
            <div class="title">
                <i class="uil uil-comments-alt"></i>
                <span class="text">Pulses</span>
            </div>

            <div class="activity-data">
                <div class="data names">
                    <span class="data-list"><strong>Pulse ID</strong></span>
                </div>
                <div class="data names">
                    <span class="data-list"><strong>Task Name</strong></span>
                </div>
                <div class="data names">
                    <span class="data-list"><strong>Task ID</strong></span>
                </div>
                <div class="data names">
                    <span class="data-list"><strong>Comment</strong></span>
                </div>
            </div>

            <div th:each="pulse : ${session.adminDTO != null ? session.adminDTO.pulses : session.currentUserDTO.pulses}">
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-list" th:text="${pulse.id}"></span>
                    </div>
                    <div class="data names">
                        <span class="data-list" th:text="${pulse.task.name}"></span>
                    </div>
                    <div class="data names">
                        <span class="data-list" th:text="${pulse.task.id}"></span>
                    </div>
                    <div class="data owner">
                        <span class="data-list" th:text="${pulse.comment}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/js/script.js}"></script>
</body>

</html>